---
http_interactions:
- request:
    method: get
    uri: https://ws.sandbox.pagseguro.uol.com.br/v2/authorizations/notifications/DFDCD4FB76297629A9E224861F89EB59E287?appId=app8068575542&appKey=014970ADA1A1E66994443FB99E18B125
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml; charset=ISO-8859-1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?><authorization><code>06599FEFB7074C2E892972EE35DFCC9B</code><authorizerEmail>v52268891533844731688@sandbox.pagseguro.com.br</authorizerEmail><creationDate>2017-11-12T17:09:16.000-02:00</creationDate><account><publicKey>PUB0C4000601CCC4906B8306215C769FF32</publicKey></account><permissions><permission><code>RECEIVE_TRANSACTION_NOTIFICATIONS</code><status>APPROVED</status><lastUpdate>2017-11-12T17:09:22.000-02:00</lastUpdate></permission><permission><code>SEARCH_TRANSACTIONS</code><status>APPROVED</status><lastUpdate>2017-11-12T17:09:22.000-02:00</lastUpdate></permission></permissions></authorization>
  recorded_at: Sun, 12 Nov 2017 19:21:49 GMT
recorded_with: VCR 3.0.3
