---
http_interactions:
- request:
    method: post
    uri: https://ws.sandbox.pagseguro.uol.com.br/v2/checkout?appId=app8068575542&appKey=014970ADA1A1E66994443FB99E18B125&authorizationCode=06599FEFB7074C2E892972EE35DFCC9B
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <checkout>
          <currency>BRL</currency>
          <items>
            <item>
              <id>10</id>
              <description><![CDATA[VideoMaker Academy]]></description>
              <amount>197.00</amount>
              <quantity>1</quantity>
            </item>
          </items>
          <shipping>
            <addressRequired>false</addressRequired>
          </shipping>
          <redirectURL>https://google.com</redirectURL>
        </checkout>
    headers:
      Content-Type:
      - application/xml;charset=ISO-8859-1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?><checkout><code>F188C8B4DFDFA0C224AA8F9283919EB0</code><date>2020-06-17T20:33:01.000-03:00</date></checkout>
  recorded_at: Wed, 17 Jun 2020 23:33:02 GMT
recorded_with: VCR 6.0.0
