---
http_interactions:
- request:
    method: post
    uri: https://ws.sandbox.pagseguro.uol.com.br/v2/authorizations/request?appId=app8068575542&appKey=014970ADA1A1E66994443FB99E18B125
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <authorizationRequest>
          <redirectURL>http://localtest.me:3000</redirectURL>
          <permissions>
            <code>RECEIVE_TRANSACTION_NOTIFICATIONS</code>
            <code>SEARCH_TRANSACTIONS</code>
          </permissions>
        </authorizationRequest>
    headers:
      Content-Type:
      - application/xml; charset=ISO-8859-1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?><authorizationRequest><code>023F02968C944A28BD2C04C3B9EC1922</code><date>2017-11-12T16:32:44.000-02:00</date></authorizationRequest>
  recorded_at: Sun, 12 Nov 2017 18:32:44 GMT
recorded_with: VCR 3.0.3
