---
http_interactions:
- request:
    method: post
    uri: https://ws.sandbox.pagseguro.uol.com.br/v2/checkout?appId=app8068575542&appKey=014970ADA1A1E66994443FB99E18B125&authorizationCode=06599FEFB7074C2E892972EE35DFCC9B
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <checkout>
          <currency>BRL</currency>
          <sender>
            <ip/>
          </sender>
          <items>
            <item>
              <id>10</id>
              <description>VideoMaker Academy</description>
              <amount>197.00</amount>
              <quantity>1</quantity>
            </item>
          </items>
          <shipping>
            <addressRequired>false</addressRequired>
          </shipping>
        </checkout>
    headers:
      Content-Type:
      - application/xml;charset=ISO-8859-1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?><checkout><code>C3DFDA62E9E914DEE480CF8AE6A3A0D2</code><date>2017-11-13T20:34:12.000-02:00</date></checkout>
  recorded_at: Mon, 13 Nov 2017 22:34:12 GMT
recorded_with: VCR 3.0.3
